/*  your css code here. If applicable */
*{
	background:#cccccc;
}
h1{
	text-align: center;
}
h2{
	background:white;
	margin-top:0px;
	padding-left:100px
}
#color{
	background:#cccccc;
}
.player_one{
	border: 1px solid black;
	background:white;
	border-radius:5px;
	height:130px;
	padding-top:40px;
}
.player_one>a{
	
	background-color: transparent;
	text-decoration:none;
	color:black;
	padding:40px;
}
#color{
	text-align:center;
}
.player_two{
	margin-left:50px;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	border:2px solid black;
	border-radius:5px;
	background-color:white;
	width:550px;
}
video{
	background-position: center;
	width:95%;
	margin:10px 15px;
}
.player_two>h2{
	text-align:center;
}
.player_two>p{
	text-align: left;
	background-color:transparent;
	margin:15px;
}
.player_two>audio{
	width:95%;
	background-color:transparent;
	margin-inline:auto;
}

