/*  your css code here. If applicable */
*{
	background:#cccccc;
}
h1{
	text-align: center;
}
h2{
	text-align: center;
}
.player_one{
	background:white;
}
.player_two{
	background:white;
}
video{
	background-position: center;
}

